<div fxLayout="row">
  <div fxFlex="60%">
    <mat-form-field class="invoicesOptions">
      <mat-label>Selecione uma opção</mat-label>
      <mat-select [(ngModel)]="defaultInvoicesReference" (selectionChange)="onSelectionChange($event)">
        <mat-option *ngFor="let option of invoicesReferences" [value]="option">
          {{ (option.referenceMonth | yearMonth) + " " + (option.state | invoiceStateDictionary) }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card *ngIf="invoice">
      <mat-card-header>
        <mat-card-title>Detalhes dos gastos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Mês de referência: {{ invoice.referenceMonth | yearMonth }}</p>
        <p>Valor total: {{ invoice.totalValue | brlConverter }}</p>
        <p>Status: {{ invoice.state | invoiceStateDictionary }}</p>
        <mat-table *ngIf="invoice.statements && invoice.statements.length > 0" [dataSource]="invoice.statements">
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
            <mat-cell *matCellDef="let statement"> {{ statement.description }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
            <mat-cell *matCellDef="let statement"> {{ statement.category | statementCategoriesDictionary }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
            <mat-cell *matCellDef="let statement"> {{ statement.value | brlConverter }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
            <mat-cell *matCellDef="let statement"> {{ statement.type | statementTypesDictionary }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="createdAt">
            <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
            <mat-cell *matCellDef="let statement"> {{ statement.createdAt | localDateTime }} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Right Part (Current Dashboard Content) -->
  <div fxFlex="40%">

  </div>
</div>
